page-add-description {

  ion-textarea {
    border: 1px solid;
    border-color: map-get($colors, primary);
    border-radius: 5px;
  }

  .errorContainer {
    span {
      color: map-get($colors, danger);
    }
  }

  .done {
    border-color: map-get($colors, secondary);
  }

}
